@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.logo {
    color: var(--gray-900, #111827);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: -4.5px;
    text-decoration: none;
  }
  
  .nav-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .nav-links {
    color: var(--gray-600, #4B5563);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration: none;
  }
  
  .nav-texts a:hover {
    color: #ddd;
  }

  .download-button {
    color: var(--gray-50, #F9FAFB);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    border-radius: 12px;
    background: var(--gray-900, #111827); 
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .nav-bar{
    position: sticky;
    display: flex;
    padding: 13px 0px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100; 
    width: 100%; 
  }

  .container {
    display: flex;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }